/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* font */
@font-face {
	font-family:"mplus-1p-light";
	src:url("../font/mplus-1p-light.ttf");
}

/* common */
ul,ol {
	list-style-type:none;
}
button {
	border:none;
	background-image:url("../img/common_btn.png");
	background-repeat:no-repeat;
	background-size:306px 201px;
	-webkit-background-size:306px 201px;
	background-position:0 0;
	width:306px;
	height:60px;
	cursor:pointer;
	background-color:transparent;
}
.pt::after {
	content:'pt';
}

.fish_sprite {
	background-image:url("../img/common_fish.png");
	background-repeat:no-repeat;
	width:63px;
	height:92px;
}
.fish_1 {
	background-position:-128px -93px;
}
.fish_2 {
	background-position:-64px -93px;
}
.fish_3 {
	background-position:0 -93px;
}
.fish_4 {
	background-position:-128px 0;
}
.fish_5 {
	background-position:-64px 0;
}
.fish_6 {
	background-position:0 0;
}

body {
	font-family:"HelveticaNeue-UltraLight","mplus-1p-light";
	background-image:url("../img/common_bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	padding:7px;
}
/*.poi {
	position:absolute;
	left:0;
	top:0;
	background-image:url("../img/poi.png");
	width:141px;
	height:244px;
}*/

/* error */
#error p {
	text-align:center;
}
#error img {
	margin:0 auto;
	display:block;
}
#error button {
	background-position:0 -61px;
}

/* top */
#top .title {
	text-indent:-9999px;
	background-image:url("../img/common_logo.png");
	background-repeat:no-repeat;
	background-size:cover;
	width:276px;
	height:41px;
	margin:0 auto;
}
#top .procedure .text {
	font-size:14px;
}
#top .procedure .text span {
	padding-right:14px;
	font-size:50px;
}
#top .procedure img {
	padding-top:17px;
	width:223px;
	height:130px;
	margin:0 auto;
	display:block;
}
#top .form_container label .text {
	display:block;
	font-size:14px;
	text-align:center;
}
#top input {
	border:none;
	background-color:transparent;
	height:40px;
	width:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 5px 5px inset;
	box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 5px 5px inset;
	border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	font-size:14px;
	margin:6px 0;
	font-family:"HelveticaNeue-UltraLight","mplus-1p-light";
	-webkit-appearance:none;
	appearance:none;
}
#top button {
	height:50px;
	background-position:0 -122px;
}

/* play */
#play button {
	position:absolute;
	left:7px;
	top:7px;
	background-position:0 -172px;
	width:97px;
	height:29px;
}
#play .player_info > span {
	text-align:center;
	display:block;
	font-size:15px;
}
#play .poi {
	padding-top:50px;
	overflow:hidden;
}
#play .poi ul {
	display:-webkit-box;
	display:box;
	-webkit-box-align:end;
	box-align:end;
}
#play .poi ul li {
	width:110px;
	height:80px;
	background-size:50px 80px;
	background-image:url("../img/common_poi.png");
	background-repeat:no-repeat;
	margin-left:-50px;
}
#play .poi ul li:first-child {
	position:relative;
	margin-left:66px;
	width:173px;
	height:277px;
	background-size:173px 277px;
	text-align:center;
	font-size:130px;
	padding-top:19px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#play .poi ul li:first-child::before {
	content:'残り';
	display:block;
	position:absolute;
	top:-20px;
	width:173px;
	color:#fff;
	font-size:14px;
}
#play .fish_list ul {
	overflow:hidden;
	padding:14px 0;
	max-height:155px;
}
#play .fish_list ul li {
	float:left;
	width:15px;
	height:auto;
}


/* score */
#score .title {
	font-size:30px;
	text-align:center;
}
#score .total_score {
	text-align:center;
	padding-top:15px;
	font-size:60px;
}
#score .total_score::after {
	padding-left:10px;
	content:"pt";
	font-size:40px;
}
#score .fish {
	padding-top:5px;
	overflow:hidden;
}
#score .fish li {
	float:left;
	width:50%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px 0 5px 10px;
}
#score .fish_num {
	display:-webkit-box;
	display:box;
}
#score .fish_sprite {
	display:block;
}
#score .fish_num .num {
	padding-left:10px;
	line-height:92px;
	font-size:30px;
}
#score .pt {
	padding:5px 0 0 10px;
}
#score button {
	position:absolute;
	left:7px;
	bottom:7px;
}

/* ranking */
#ranking .title {
	font-size:30px;
	text-align:center;
}
#ranking ol {
	padding-top:10px;
}
#ranking ol li {
	padding:7px 7px 7px 0;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#ranking .extra .text,
#ranking ol li .text {
	display:box;
	display:-webkit-box;
	box-pack: justify;
	-webkit-box-pack:justify;
}
#ranking .extra .text > span,
#ranking ol li .text > span {
	font-size:18px;
	display:block;
}
#ranking .name {
	padding-left:10px;
	box-flex:1;
	-webkit-box-flex:1;
}
#ranking button {
	position:absolute;
	left:7px;
	bottom:7px;
	background-position:0 -61px;
}
#ranking .rank {
	color:#fff;
	font-weight:bold;
	width:23px;
	text-align:right;
}
#ranking .pt::after {
	padding-left:3px;
}
#ranking .extra {
	position:relative;
	padding:70px 7px 7px 7px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#ranking .extra::before {
	content:'・・・';
	position:absolute;
	top:25px;
	color:#fff;
	font-weight:bold;
	transo:rotateZ(90deg);
	-webkit-transform:rotateZ(90deg);
	display:block;
	width:100%;
	text-align:center;
}
#ranking ol .me .text > span,
#ranking .extra .text > span {
	font-size:24px;
}

/* maintenance_rotate */
#maintenance_rotate .button {
	background-color:#fff;
	opacity:0.5;
	margin:5px;
	padding:10px;
	text-align:center;
}