doctype 5
html(lang='ja')
	head
		title= 'Websocket Test Main'
		script(src='./lib/chikuwa.min.js')
		link(href="./module/css/main.css", rel="stylesheet")
	body
		div.poi
	script(src='./module/js/main.js')