!!! 5
html
	head
		meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
		meta(name='keywords',content='金魚すくい,キラキラ')
		meta(name='description',content='スマホで直感的な金魚すくい！')
		title KIRAKIRA KINGYO
		script(type='text/javascript',src='./js/lib/chikuwa.js')
		script(type='text/javascript',src='./js/lib/chikuwa-view.js')
		script(type='text/javascript',src='./js/lib/chikuwa-dispatcher.js')
		script(type='text/javascript',src='./js/main.js')
	body